.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 70%;
  height: 95%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
}

.modal-close-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.modal-close-btn:hover {
  background-color: #3f3c3c;
  color: #fff;
}

.modal-iframe {
  width: 100% !important;
  height: 100% !important;
  scrollbar-width: none;
}

@media (max-width: 900px) {
  .modal-content {
    width: 96%;
    height: 80%;
  }
}
