<% if resource.errors.any? %>
  <section class="errors flash__message p-1 py-4 shadow-lg z-50 flex items-start gap-2" data-controller="removals" data-action="animationend->removals#remove">
    <div class="flash__header"></div>
    <i class="fa-solid fa-circle-exclamation text-[#E0115F] text-xl ml-2"></i>
    <div class="flex-1">
      <h6 class="text-[#E0115F] font-semibold">Error</h6>
      <div class="text-sm mt-1">
        <% resource.errors.full_messages.uniq.each do |message| %>
         <p class="flex items-start gap-2">
            <i class="fa-solid fa-caret-right text-[#E0115F] text-xs mt-1"></i> <%= message %>
          </p> 
        <% end %>
      </div>
    </div>

    <button class="text-gray-400 hover:text-gray-600 text-lg px-4" onclick="this.parentElement.remove()">✖</button>
  </section>
<% end %>